
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  /* center horizontally */
  align-items: flex-start;
  /* move content to top */
  height: 100vh;
  font-family: sans-serif;
}


.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; or space-around / space-evenly */
  gap: 20px;

}


.card {
  background-color: #222;
  width: 240px;
  padding: 20px;
  border: solid 1px white;
  border-radius: 10px;
  text-align: center;
}

.card p {
  margin: 20px 0;
}

img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 400;
}


/* props project */
.profile-card {
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px rgb(160, 139, 139) solid;
  border-radius: 8px;
  background-color: white;
}

.profile-name {
  color: black;
  margin-top: 10px;
  font-size: 20px;

}

.dob {
  color: black;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  opacity: 0.7;
}


.line {
  margin: 15px;
  height: 5px;
  width: 200px;
  border-radius: 12px;
  background: linear-gradient(135deg, #9440ee, #4b88f0);
  opacity: 0.5;
}

.btn1 {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 12px;
}


.btn2 {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 20px;
  background: linear-gradient(135deg, #9440ee, #4b88f0);
  cursor: pointer;
  font-size: 12px;
}