*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.parent {
  padding: 20px;
  display: inline-block;
  
  
  flex-wrap: wrap;
  gap: 10px;
}
.parent .card{
  width: 300px;
  border: 2px solid wheat;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
}

.parent img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.card h1{
  margin: 10px;
}

.card p{
  padding: 10px;
  margin: 10px;
}

.card button{
  padding: 10px 20px;
  background-color: rgb(179, 121, 51);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card button:hover{
  background-color: rgb(221, 139, 33);
}

.card:hover{
  z-index: 30;
  transform: scale(1.1) ;  /* Moves the card up */
  box-shadow: 0px 10px 16px  rgba(234, 242, 5, 0.9);
}