* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(22, 18, 18);
}


body {
  height: 100%;
  width: 100%;
 
}

/* 
.parent {
  padding: 20px;
  display: inline-block;
  
  
  flex-wrap: wrap;
  gap: 10px;
}
.parent .card{
  width: 300px;
  border: 2px solid wheat;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
}

.parent img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.card h1{
  margin: 10px;
}

.card p{
  padding: 10px;
  margin: 10px;
}

.card button{
  padding: 10px 20px;
  background-color: rgb(179, 121, 51);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card button:hover{
  background-color: rgb(221, 139, 33);
}

.card:hover{
  z-index: 30;
  transform: scale(1.1) ;  /* Moves the card up */
  /* box-shadow: 0px 10px 16px  rgba(234, 242, 5, 0.9);
} */ 


/* props-project */
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  height: 330px;
  width: 280px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
  object-fit: cover;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
  
}


/* cneter */
.center h2{
  font-size: 17px;
  font-weight: 500px;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400px;
  color: #b1b1b1;
}

.center h2{
  font-size: 20px;
}

.center .job-type{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .job-type h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 500px;
  padding: 4px 8px;
  border-radius: 3px;
}





/* bottom */
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #e6e5e5;
  padding: 15px 0px;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #b1b1b1;
}

.bottom button{
  background-color: black;
  color:white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;

}

.bottom button:hover{
  background-color: rgb(62, 51, 51);
  cursor: pointer;
}