*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start; /* center horizontally */
  align-items: flex-start;  /* move content to top */
  height: 100vh;
}


.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; or space-around / space-evenly */
  gap: 20px;
  
}


.card {
  background-color: #222;
  width: 240px;
  padding: 20px;
  border:solid 1px white;
  border-radius: 10px;
  text-align: center;
}
.card p {
  margin: 20px 0;
}

img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 400;
}